@import "react-toastify/dist/ReactToastify.min.css";
@import "react-toastify/dist/ReactToastify.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-bubble::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.user-message::before {
  border-width: 10px 10px 10px 0;
  border-color: transparent #bbf7d0 transparent transparent;
  left: -10px;
  top: 10px;
}
.other-message::before {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #bfdbfe;
  right: -10px;
  top: 10px;
}
